@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media (max-width: 500px) {
  #video {
    display: none
  }
  #image {
    display: block
  }
}
.nav-sep {
  background: linear-gradient(125.06deg, #FF0000 -2.31%, #FFB600 48.44%, #79DEA8 97.12%);
  opacity: 1;
  filter: blur(3px);
}

.text-shadow {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8)
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bg-video__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
